* {
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.main {
    background-image: url("background.jpg");
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;        
    background-position: center; 


}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
}

nav img {
    height: 5vh;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo {
    margin: 40px 90px;
}

.button1 {
    opacity: 0.7;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 19px;


}

.button2 {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 8px 10px;
    margin-right: 210px;
}

.content {
    color: white;
    position: relative;
    top: 20%;
    justify-items: center;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.content h1 {
    font-size: 70px;
    padding: 2%;
    max-width: 650px;
    text-align: center;
}

.content h2 {
    /* padding: 5px; */
}

.content p {
    padding: 20px;
    font-size: 20px;
}

.b1 {
    opacity: 0.5;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px 100px;
    margin-left: 30%;
    font-weight: bold;
    font-size: 20px;

}

.b2 {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 20px 100px;
    margin-left: 20px;
    font-size: 20px;

}

.blackbox {
    background-color: black;
    color: white;
    width: 100%;

}

.cardbox {
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    scrollbar-width: none;
    /* margin: 70px 100px; */

}

.card {
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
}

.trend {
    position: relative;
    padding-left: 60px;
    padding-top: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}



.more{
    background-color: black;
    color: white;
    position: relative;
    padding-left: 60px;
    padding-top: 60px;
    font-size: 20px;
}

.fourbox {
    display: flex;
    color: white;
    background-color: black;
    /* padding: 15px; */
}

.fourbox1 {
    height: 250px;
    width: 320px;
    padding: 20px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    text-align: justify;

}

.gridmain {
    color: white;
    background-color: black;
    position: relative;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 20px;
}

.grid {
    background-color: black;
    color: white;
    display: grid;
    grid-template-rows: 1fr;

}

.gridbox {
    height: 20px;
    width: 90vw;
    margin: 10px;
    padding: 20px;
    background-color: rgb(95, 94, 94);
    margin-left: 50px;
}

.lastbutton{
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px;
}

.lastb1 {
    opacity: 0.5;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 20px 200px;
    font-weight: bold;
    font-size: 20px;

}

.lastb2 {
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 20px 70px;
    font-size: 20px;

}
.last{
    background-color: black;
    color: white;
    padding-left: 70px;
    text-decoration: underline;
}

.lastgrid{
    text-decoration: underline;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 50px  50px 50px 50px;
    column-gap: 150px;
    
}

.lastb{
    background-color: black;
    color: white;

}
.lastb p{
    margin-left: 60px;

}

.bu{
    opacity: 0.7;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 60px;
}

/* responsive */

/* Tablets */
@media only screen and (max-width: 1024px) {
    .content h1 {
        font-size: 50px;
    }

    .b1, .b2 {
        padding: 15px 60px;
        font-size: 18px;
        margin: 10px auto;
        display: block;
    }

    .fourbox {
        flex-wrap: wrap;
        justify-content: center;
    }

    .fourbox1 {
        width: 80%;
        margin: 15px;
    }

    .lastgrid {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .logo {
        margin: 20px;
        height: 40px;
    }

    .button1, .button2 {
        margin: 5px;
        padding: 6px 12px;
    }

    .content {
        top: 10%;
        text-align: center;
    }

    .content h1 {
        font-size: 35px;
        padding: 10px;
        max-width: 100%;
    }

    .content p {
        font-size: 16px;
        padding: 10px;
    }

    .b1, .b2 {
        padding: 12px 40px;
        font-size: 16px;
        margin: 10px auto;
        display: block;
    }

    .cardbox {
        overflow-x: scroll;
    }

    .trend {
        font-size: 22px;
        padding-left: 20px;
    }

    .fourbox1 {
        width: 90%;
        margin: 10px auto;
    }

    .gridbox {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .lastbutton {
        padding: 30px 10px;
    }

    .lastb1, .lastb2 {
        padding: 15px 30px;
        font-size: 16px;
        margin: 5px auto;
        display: block;
    }

    .lastgrid {
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 0;
    }

    .lastb select {
        margin: 20px;
    }
}

/*  Mobile  */
@media only screen and (max-width: 480px) {
    nav img {
        height: 30px;
    }

    .content h1 {
        font-size: 28px;
    }

    .content h2 {
        font-size: 18px;
    }

    .b1, .b2 {
        width: 80%;
        font-size: 14px;
    }

    .fourbox1 {
        padding: 15px;
        font-size: 14px;
    }

    .lastb1, .lastb2 {
        width: 90%;
        font-size: 14px;
        padding: 12px;
    }

    .lastgrid {
        font-size: 14px;
        padding: 10px;
    }
}
